 *{
     box-sizing: border-box; 
     padding: 0;
     margin: 0;
     cursor: pointer;
     
     
 

 body{
    font-family: Arial, Zapf-Chancery, sans-serif;
}


    .navbar{
        font-size: 18px;
        background-color: linen;
        padding-bottom: 10px;
    
    }
    
    .navbar-toggle{
        position: relative;
        top: 10px;
        float: left;
        cursor: pointer;
        color: #000000;
    }

    //.logo{
      //  display: inline-block;
       // font-size: 20px;
      //  font-weight: bold;
     //   margin: 20px 10px 0px 0px;
    //}
    
    
    
    .main-nav{
        list-style-type: none;
        display: none;
        margin: auto;

        
    }
    
    .main-nav li{
        display: inline-block;
        text-align: center;
        margin: 15px auto;
        text-transform: uppercase;
    }
    
    .nav-links{
        margin:center;
    }
    .nav-links{
        margin: 72px;
        cursor: pointer;
        font-size: 32px;
        color: rgb(0, 0, 0);
    }

    .nav-links:hover{
        color: aqua;
    }
    
    .active{
        display: block;
    }
    
    
    @media screen and (min-width: 769) {
    
        .navbar{
            display: flex;
            justify-content: space-between;
            padding-bottom: 0;
            height: 70px;
            align-items: center;
        }
    
        .main-nav{
            margin-left: 30px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            
        }
    
        .main-nav li{
            margin: 0;
        }
    
    
        .navbar-toggle{
            display:  none;
    
        }
    
        .logo:hover,
        .nav-links:hover{
            color: #0f0095;
        
        }
        
    }
    
    
}
    
    
    
    
    
    
    
    