<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
          <link rel="stylesheet" type="txt/scss" heref="estolo.scss"/> 
    </head> 
<body>
    <h1>NoobsFuctura</h1>
    <div></div>

    <div id="color">
    </div>
    <!--Navegação-->
    <nav class="navbar">
        <!--Menu responsivo para Mobile-->
        <span class="navbar-toggle" id="toggle-action">
            <mat-icon>menu</mat-icon>
        </span>

<!--Menu responsivo para web (Mninimo de 769px)-->
<a class="logo"Logo></a>

<!--Lista de rotas do menu-->
<ul class="main-nav" id="desktop-menu">
        <li>
            <a href="#" class="nav-links">Contatos</a>
        </li>
        <li>
            <a href="#" class="nav-links">Usuários</a>
        </li>
        <li>
            <a href="#" class="nav-links">Logout</a>
                </li>
             </ul>
         </nav>  
</body>
</html>
