<body>
    <!--<img src="assets/img/login.jpg" alt="" class="logo">   -->   
    <!--Navegação-->
    <nav class="navbar">
        <!--Menu responsivo para Mobile !-->
        <span class="nav-toggle" id="toggle-action">
            <mat-icon>menu</mat-icon>
        </span>
        

<!--Menu responsivo para web (Mninimo de 769px)-->
<a class="logo"Logo></a>

<!--Lista de rotas do menu-->
    <ul class="main-nav" id="desktop-menu">
        <li>
            <a routerLink="/contacts-list" class="nav-links">Contatos</a>
        </li>
        <li *ngIf="admin != 'false'">
            <a routerLink="/users-list" class="nav-links">Usuários</a>
        </li>
       <!-- <li>
            <a routerLink="/login" class="nav-links">Logout</a>
        </li>-->
        <li>
        <a (click)="logout()" class="nav-links">Logout</a>
    </li>
    </ul>
</nav> 
</body>